.container{
    width: 94%;
    background-color: lightgray;
    padding-left: 5em;
    padding-bottom: 3em;
}
h1{
    padding-top: 2em;
}
label{
    padding-right: 10em;
    display: inline-block;
    width: 30%;
    ;
}
input{
    padding: 0.4em;
    margin: 0.3em;
    margin-left: 2em;
}
.button{
    text-align: center;
    padding: 0.5em;
}
button{
    padding: 0.4em;
    padding-left: 2em;
    padding-right: 2em;
}
span{
    font-size: 2em;
	padding: 3emem;
    margin-left: 3em;
	border: 1px ;
	background-color: silver;
	border-radius: 0.1em
}